@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>SetPassword | Tarcolab ERP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Tarcolab ERP" name="description" />
    <meta content="Appman Technologies Pvt Ltd" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/login/images/favicon.ico">

    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/login/libs/owl.carousel/assets/owl.carousel.min.css">

    <link rel="stylesheet" href="~/login/libs/owl.carousel/assets/owl.theme.default.min.css">

    <!-- Bootstrap Css -->
    <link href="~/login/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/login/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/login/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body class="auth-body-bg">

    <div>
        <div class="container-fluid p-0">
            <div class="row g-0">

                <div class="col-xl-9">
                    <div class="auth-full-bg pt-lg-5 p-4">
                        <div class="w-100">
                            <div class="bg-overlay"></div>
                            <div class="d-flex h-100 flex-column">

                                <div class="p-4 mt-auto">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-7">
                                            <div class="text-center">

                                                <h4 class="mb-3"><i class="bx bxs-quote-alt-left text-primary h1 align-middle me-3"></i><span class="text-primary">5k</span>+ Satisfied clients</h4>

                                                <div dir="ltr">
                                                    <div class="owl-carousel owl-theme auth-review-carousel" id="auth-review-carousel">
                                                        <div class="item">
                                                            <div class="py-3">
                                                                <p class="font-size-16 mb-4">" It's a pleasure working with the Tracolab team, from the sales and support teams all the way to our partnership with the development team. It's a very easy environment to work within. "</p>

                                                                <div>
                                                                    <h4 class="font-size-16 text-primary">Abs1981</h4>
                                                                    <p class="font-size-14 mb-0">- Tracolab Erp User</p>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="item">
                                                            <div class="py-3">
                                                                <p class="font-size-16 mb-4">" Tracolab is an efficient and affordable software to run your business without a big up-front cost. The ability to export data into other systems and the customizability of the system make it a great option for any mid-sized business"</p>

                                                                <div>
                                                                    <h4 class="font-size-16 text-primary">nezerious</h4>
                                                                    <p class="font-size-14 mb-0">- Tracolab Erp User</p>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-xl-3">
                    <div class="auth-full-page-content p-md-5 p-4">
                        <div class="w-100">

                            <div class="d-flex flex-column h-100">
                                <div class="mb-4 mb-md-5">
                                    <a href="index.html" class="d-block auth-logo">
                                        <img src="~/login/images/logo.png" alt="" height="75" class="auth-logo-dark">
                                        <img src="~/login/images/logo.png" alt="" height="75" class="auth-logo-light">
                                    </a>
                                </div>
                                <div class="my-auto">

                                    <div class="text-center">

                                        <div class="avatar-md mx-auto">
                                            <div class="avatar-title rounded-circle bg-light">
                                                <i class="bx bx-fingerprint h1 mb-0 text-danger"></i>
                                            </div>
                                        </div>
                                        <div class="p-2 mt-4">
                                            <h4>Failed !</h4>
                                            <p class="text-muted">Password creation was unsuccessful. </p>
                                            <div class="mt-4">
                                                <a href="/App/ForgotPassword" class="btn btn-success">Back to Forgot Password</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-4 mt-md-5 text-center">
                                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Tracolabs Erp. Developed with <i class="mdi mdi-heart text-danger"></i> by Tracolab ERP</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->
    </div>

    <!-- JAVASCRIPT -->
    <script src="~/login/libs/jquery/jquery.min.js"></script>
    <script src="~/login/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/login/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/login/libs/simplebar/simplebar.min.js"></script>
    <script src="~/login/libs/node-waves/waves.min.js"></script>

    <!-- owl.carousel js -->
    <script src="~/login/libs/owl.carousel/owl.carousel.min.js"></script>

    <!-- auth-2-carousel init -->
    <script src="~/login/js/pages/auth-2-carousel.init.js"></script>

    <!-- App js -->
    <script src="~/login/js/app.js"></script>


</body>
</html>

